@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:ital,wght@0,100;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Declaro variables para reutilizar varias veces */

:root {
  --fondo: #f0eef6;
  --fondoIntenso: #d6ccf5;
  --blanco: #fff;
  --morado: #7e63e9;
  --moradoPulsado: #917ee0;
  --negro: rgb(0, 0, 0);
  --grisClaro: lightgray;
  --fuente: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* agrego una fuente personalizada */
  font-family: var(--fuente);

  /* añado esta linea para la flecha que hace subir arriba del todo */
  /* de esta forma es agradable el deslizamiento */
  scroll-behavior: smooth;
}

body {
  background-color: var(--fondo);
}

a {
  display: block;
  cursor: pointer;
}

.body {
  position: relative;
  min-height: 100dvh;
}

/* COMIENZO MENU Y HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--blanco);
  box-shadow: 5px 2px 5px var(--grisClaro);
  z-index: 100;
}

.header {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 20;
}

h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

h1 a {
  text-decoration: none;
  color: var(--negro);
}

/* Oculto el checkbox que activa el menu */
#menu {
  display: none;
  transition: 0.5s all;
  width: 0%;
}

.navbar__menu {
  position: fixed;
  display: block;
  background-color: var(--blanco);
  z-index: 10;
  width: 0%;
  height: 100dvh;
  top: 80px;
  right: 0;
  text-align: center;
}

.navbar__menu li {
  padding: 42px;
}

li {
  list-style: none;
}

.idioma {
  line-height: 0;
  /* agrego una animacion con un keyframe personalizado pero sutil */
  animation: idiomaSaltos 1s infinite alternate;
}

.idioma_img {
  max-width: 100%;
  width: 35px;
}
#label__menu {
  display: inline-block;
  font-size: 1.3rem;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
}

.navbar {
  align-items: center;
}

.navbar__menu {
  background-color: var(--fondoIntenso);
}

.navbar__menu li {
  margin-bottom: 1px;
  border-bottom: 2px solid var(--blanco);
}

.navbar__menu li a {
  text-decoration: none;
  color: var(--negro);
}

.navbar__menu li.active a {
  color: var(--morado);
}

/* cuando el checkbox está marcado , selecciono al `hermano` */
#menu:checked ~ #label__menu {
  animation: menuRotacion 0.3s forwards;
  transition: transform 0.3s linear;
}

#menu:checked ~ .navbar__menu {
  animation: mostrarMenu 0.5s ease forwards;
}

/* Animación para ocultar el menú */
#menu:not(:checked) ~ .navbar__menu {
  width: 0%;
  animation: ocultarMenu 0.5s ease forwards;
}

/* para mostrar el menú */
@keyframes mostrarMenu {
  0% {
    width: 0%;
  }
  100% {
    width: 100vw;
  }
}

/* para ocultar el menú */
@keyframes ocultarMenu {
  0% {
    width: 100vw;
  }
  100% {
    width: 0%;
  }
}

#menu:not(checked) ~ #label__menu {
  animation: menuRotacionInversa 0.3s forwards;
}

/* CREACION DE LAS ANIMACIONES DEL MENU */

/* En estas animaciones simplemente roto la inclinación de los elementos */
@keyframes menuRotacion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    background-color: var(--fondo);
    transform: rotate(45deg);
    color: var(--negro);
  }
}

@keyframes menuRotacionInversa {
  0% {
    transform: rotate(45deg);
    background-color: var(--fondo);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes idiomaSaltos {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

/* aqui creo una clase personalizada y reutilizable para los botones */
.btn {
  font-size: 1.4rem;
  border-radius: 50px;
  padding: 2px 30px;
  background-color: var(--morado);
  color: white;
  border: none;
  transition: 0.3s all ease;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: var(--moradoPulsado);
}

/* FIN DEL MENU & HEADER */

/* COMIENZO CONTENIDO */

.contenido {
  margin-top: 100px;
}

.contenido__publicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--blanco);
  border-radius: 10px;
  max-width: 90%;
  margin: auto;
  padding: 10px;
  border: 2px solid rgb(122, 79, 161, 0.2);
}
.publicacion__input {
  outline: none;
  border: none;
  width: auto;
  max-width: 100px;
}

.publicacion__icono {
  font-weight: bold;
  padding: 3px 13px 13px 13px;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.publicacion__icono:hover {
  background-color: var(--fondoIntenso);
}

.publicacion__boton {
  font-size: 1rem;
  padding: 10px 30px;
}

.post {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: var(--blanco);
  border-radius: 12px;
  padding: 10px;
}

.post .post__contenido {
  justify-self: center;
}

.post__flex:first-child {
  margin-bottom: 20px;
}

.usuarioFoto {
  line-height: 0;
}
.usuarioFoto__img {
  max-width: 100%;
  width: 40px;
  border-radius: 50%;
}

.post__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__corazon {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.post__contenido-imagen {
  max-width: 100%;
  border-radius: 20px;
}

.posts:last-child {
  margin-bottom: 100px;
}

/* FIN SECTION CONTENIDO */

/* FOOTER */

.footer {
  display: none;
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--moradoPulsado);
  padding: 18px;
  color: var(--blanco);
  position: relative;
  width: 100%;
  bottom: 0;
}
/* FIN FOOTER */

/* CREACION DE UNA FLECHA PARA SCROLLEAR ARRIBA DEL TODO */
.flechaSubir {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  padding: 11px 20px 20px 20px;
  background-color: var(--morado);
  color: var(--blanco);
  z-index: 10;
}

.flechaSubir a {
  text-decoration: none;
  color: var(--blanco);
  display: inline-block;
}

.global {
  display: grid;
}
.anuncios {
  display: none;
}

/* FIN DE CREACION DE LA FLECHA */

/* COMIENZO DE ESTILOS EXPLORAR.HTML */
.contenido__buscar {
  justify-content: space-between;
}

.contenido__buscar .publicacion__input {
  max-width: 300px;
  margin-left: 20px;
}
.contenido__buscar .buscar {
  margin-right: 20px;
}

.grupos {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
}

.grupos__grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 1;
  background-color: var(--blanco);
}
.grupos__imagen {
  background-image: linear-gradient(rgba(82, 81, 81, 0.2), #494848),
    url("https://picsum.photos/400"); /* Cambia la URL aquí */
  background-position: center;
  background-size: cover; /* Asegúrate de que la imagen cubra el contenedor */
  height: 180px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* antes que nada perdon por usar anidacion de esta manera por no haberla visto pero quería practicarlo porque apenas lo he usadoa */
.grupos__contenido {
  /* asi selecciono todos los hijos del grupos__contenido */
  & > * {
    padding: 10px;
  }

  & .grupos__titulo {
    font-size: 1.6rem;
    font-weight: 400;
  }

  & .grupos__usuario {
    margin: 20px 0;
    font-weight: bold;
    color: var(--morado);
  }

  & .grupo__btn {
    width: 100%;
    background-color: var(--morado);
    color: var(--blanco);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    transition: 0.5s all ease;

    & a {
      text-decoration: none;
      color: var(--blanco);
    }

    &:hover {
      background-color: var(--fondoIntenso);
    }
    &:hover a {
      transition: 0.3s all ease;
      color: var(--moradoPulsado);
      cursor: pointer;
    }
  }
}

/* FIN DE EXPLORAR.HTML */

/* COMIENZO DE REGISTRO.HTML */
/* Estilos generales del formulario */

.before,
.after {
  background-color: var(--moradoPulsado);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
}

#grupos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.contenido.form {
  max-width: 98%;
  margin: auto;
  padding: 20px;
  background: linear-gradient(135deg, #b7a7e6, #a386d4);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px;
}

/* Título */
.form__titulo {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

/* Contenedor de cada input */
.formulario__input {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

/* Inputs */
.formulario__input input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #c2a0fd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

/* Estilo cuando el input tiene foco */
.formulario__input input:focus {
  border-color: #6a4bc3;
  box-shadow: 0 0 5px rgba(106, 75, 195, 0.5);
}

/* Labels flotantes */
.formulario__input label {
  position: absolute;
  font-size: 16px;
  color: #6546c9;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 8px;
  top: -26px;
}

#politicaFor {
  top: 0px;
  left: 20px;
}

/* Estilos específicos para el checkbox */
.formulario__input input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
  accent-color: #6a4bc3;
}

/* Botón de enviar */
.btn-enviar {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #6a4bc3, #9172ec);
  cursor: pointer;
  transition: 0.3s;
}

/* Efecto hover en el botón */
.btn-enviar:hover {
  background: linear-gradient(135deg, #9172ec, #6a4bc3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ícono de ojo para la contraseña */
.passwordInput {
  display: flex;
  align-items: center;
}

.passwordInput i {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #6a4bc3;
  top: 10px;
}

#descubrir {
  margin-top: 50px;
  width: 100%;
  background-color: #b7a7e6;
  text-align: center;
}

#descubrir p {
  padding: 20px;

  & a{
    text-decoration: none;
  color: var(--blanco);
cursor: pointer;
  }
}

/* COMIENZO DE MEDIA QUERIES PARA EL INDEX */

@media screen and (min-width: 768px) {
  .contenido.form {
    max-width: 500px;
    margin: 200px auto 100px auto;
  }

  .icono-menu {
    display: none;
  }

  #label__menu {
    display: none;
  }

  .header {
    max-width: 1000px;
    margin: auto;
  }

  .navbar__menu {
    position: inherit;
    height: auto;
    display: flex;
    background-color: transparent;
    gap: 20px;

    flex-grow: 1;
    & li {
      background-color: transparent;
      font-size: 1rem;
      padding: 10px;
    }

    & li.active a {
      background-color: transparent;
    }
  }

  /* aquí cambio el orden del boton al último porque como no le aplico order a los otros elementos del flexbox
  pues básicamente lo mando al final */
  .btn {
    order: 3;
  }
  .idioma {
    flex-grow: 0.1;
    order: 2;
  }

  .contenido__publicacion {
    max-width: 80%;
    & .publicacion__input {
      max-width: 300px;
    }
  }

  .posts {
    margin: auto;
    display: grid;
  }

  .post {
    width: 80%;

    & .post__contenido {
      justify-self: center;
    }
  }

  /* MEDIA QUERIES PARA EXPLORAR.HTML */

  .grupos {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .publicacion__input {
    padding: 10px;
    flex-grow: 1;
  }
  .contenido__buscar {
    justify-content: center;
    max-width: 600px;
  }

  /* mostramos el footer */
  .footer {
    display: block;
  }

  .form {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {

  .contenido__publicacion{
    max-width: 600px;
  }

  .before,
  .after {
    display: grid;
    place-items: center;
    padding: 0;

    transition: 3s background;
    &:hover {
      background: linear-gradient(135deg, #9172ec, #6a4bc3);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    & i {
      width: 16px;
      height: 33px;
      color: var(--blanco);
      font-weight: bold;
      cursor: pointer;
    }
  }
  .global {
    grid-template-columns: minmax(200px, 250px) 10fr minmax(200px, 250px);
  }
  .anuncios {
    margin: 100px auto;
    display: block;
  }

  .anuncios__imagen {
    background-image: linear-gradient(
        rgba(82, 81, 81, 0.2),
        rgba(15, 15, 15, 0.6)
      ),
      url("https://picsum.photos/400");
    background-position: center;
    height: 300px;
    width: 200px;
    max-width: 400px;
    background-size: cover;
    position: relative;
    margin: 20px;
  }
  .anuncios__imagen p {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
  }

  .anuncios__imagen .precio {
    position: absolute;

    color: white;
    padding: 8px 5px;
    background-color: rgb(112, 1, 1);
    border-radius: 50%;
  }

  .precio-izquierda {
    right: -25px;
    top: -10px;
  }

  .precio-derecha {
    left: -25px;
    bottom: -10px;
  }

  .grupos {
    max-width: 1600px;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
  }

  .grupos .grupos__grupo:nth-child(5) {
    grid-area: 3/3/3/2;
  }
  .grupos .grupos__grupo:nth-child(9) {
    grid-area: 3/4/3/3;
  }
}
